body{
  font-family: 'Roboto', sans-serif;
}
.header{
  background-color:#EEEFF1;
}
.container{
  max-width: 1110px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.list-item{
  display:inline;
}
.nav{
  display:inline-block;
  /* margin-left: auto; */
  width: 800px;
}
.list {
  display: inline-block;
  /* margin-left: auto; */
  
}
.list {
  text-align: right;
}
.logo{
  display: inline;
  
}